.card{
    .card-header{
        color: white;
        text-transform: capitalize;
        font-weight: light;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
    }
    .card-body{
        padding: 1px;
    }

    .description-text{
        visibility:collapse;
        transition: visibility 10s;
    }
}